<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlineexamapp">

    <!-- Permissions for Firebase and Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <!-- Permissions for Image Selection -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Permission for Vibration (wrong answer feedback) -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MindSpaceApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MindSpace"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineExamApp">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AccountTypeActivity"
            android:exported="false" />

        <activity
            android:name=".DescribeWorkplaceActivity"
            android:exported="false" />

        <activity
            android:name=".QuizActivity"
            android:exported="false" />

        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />

        <activity
            android:name=".AdminManageQuizzesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminManageAuthorsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminManageUsersActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminManageReportsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".AdminBroadcastActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".OtpVerificationActivity"
            android:exported="false" />

        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".SignInActivity"
            android:exported="false" />

        <activity
            android:name=".MainHomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />


        <activity 
            android:name=".FindFriendsActivity"
            android:exported="false" />

        <activity android:name=".ContactSearchActivity" />

        <activity android:name=".TopAuthorsActivity" />


        <activity android:name=".EditProfileActivity" />

        <activity android:name=".AchievementsActivity" />

        <activity android:name=".SettingsActivity" />

        <activity android:name=".ForgotPasswordActivity" />

        <activity android:name=".MailSentActivity" />

        <activity android:name=".SearchActivity" />
        <activity android:name=".AddDiscoveryActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".AuthorProfileActivity" />
        <activity android:name=".FollowingListActivity" />
        <activity android:name=".MessagesListActivity" />
        <activity android:name=".ChatActivity" 
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Theme.Cropper" />

        <activity android:name=".SocialListActivity" />
        <activity android:name=".UserDiscoveriesActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

</manifest>
